<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>Detail Admin - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap/bootstrap-overrides.css" %}" type="text/css" rel="stylesheet"/>

    <!-- libraries -->
    <link href="{% static "css/lib/jquery-ui-1.10.2.custom.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/lib/font-awesome.css" %}" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/compiled/layout.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/compiled/elements.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/compiled/icons.css" %}">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/index.css" %}" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
{% block content %}{% endblock %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.2.custom.min.js" %}"></script>
<!-- knob -->
<script src="{% static "js/jquery.knob.js" %}"></script>
<!-- flot charts -->
<script src="{% static "js/jquery.flot.js" %}"></script>
<script src="{% static "js/jquery.flot.stack.js" %}"></script>
<script src="{% static "js/jquery.flot.resize.js" %}"></script>
<script src="{% static "js/theme.js" %}"></script>

{% block footer %}{% endblock %}
</body>
</html>